


<div class="row g-5 mb-5">

  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Meetings</h3>

<p>
<a href="https://www.bristol.ac.uk/maths/events/2024/philip-welch-event-.html">Seventh workshop on generalised Baire spaces, University of Bristol, 8-10 February 2024</a>
</p>

<ul>
<li><a href=/meetings/20240208_Bristol/program.pdf>Program</a>
<li><a href=/meetings/20240208_Bristol/abstracts.pdf>Abstracts</a>
<li>Slides
<ul>
<li><a href=/meetings/20240208_Bristol/slides/pitton.pdf>Beatrice Pitton</a>
<li><a href=/meetings/20240208_Bristol/slides/sziraki.pdf>Dorottya Sziraki</a>
<li><a href=/meetings/20240208_Bristol/slides/schlutzenberg.pdf>Farmer Schlutzenberg</a>
<li><a href=/meetings/20240208_Bristol/slides/mottoros.pdf>Luca Motto Ros</a>
<li><a href=/meetings/20240208_Bristol/slides/moreno.pdf>Miguel Moreno</a>
<li><a href=/meetings/20240208_Bristol/slides/holy.pdf>Peter Holy</a>
<li><a href=/meetings/20240208_Bristol/slides/luecke.pdf>Philipp L&uuml;cke</a>
<li><a href=/meetings/20240208_Bristol/slides/luecke-handout.pdf>Philipp L&uuml;cke - handout</a>
</ul>
</ul>


    <!--<p>
    <a href="">Countable ranks and the first and second projective levels</a>, Logic Colloquium Reykjavik, June 2022
    </p>-->

    <!--
    <p>
    <a href="http://www.fields.utoronto.ca/talks/Dichotomies-open-directed-hypergraphs-generalised-Baire-spaces">Dichotomies for open directed hypergraphs on generalised Baire spaces</a>, Toronto Set Theory Seminar, April 2022
    </p>
    -->



<!--
	<img src="/images/Vienna 2018.jpg" style="height: 140px;"/>
-->

<!--
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>-->

</div>

</div>
