


<div class="row g-5 mb-5">

  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Talks</h3>

<p>
<a https://www.bristol.ac.uk/maths/events/2024/philip-welch-event-.html>Seventh workshop on generalised Baire spaces</a>
</p>

	<ol reversed>
  <li>  test	</ol>



    <!--<p>
    <a href="">Countable ranks and the first and second projective levels</a>, Logic Colloquium Reykjavik, June 2022
    </p>-->

    <!--
    <p>
    <a href="http://www.fields.utoronto.ca/talks/Dichotomies-open-directed-hypergraphs-generalised-Baire-spaces">Dichotomies for open directed hypergraphs on generalised Baire spaces</a>, Toronto Set Theory Seminar, April 2022
    </p>
    -->



<!--
	<img src="/images/Vienna 2018.jpg" style="height: 140px;"/>
-->

<!--
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>-->

</div>

</div>
