---
---

@import "{{ site.theme }}";
.main-content {
  h2 {
   color: #ff0000;
 }
}

.header_class {
  color: red;
}

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}
