---
---

$header-bg-color: #1e6bb8;
$header-bg-color-secondary: #7EA7D3;

/*$body-link-color: #7EA7D3;*/
$blockquote-text-color: #819198;

$code-text-color: #494D4E;

$base-font-size:   16px !default;

@import "{{ site.theme }}";
.site-header {
 background-color: red;
}
.site-title, .page-link {
 color: white !important;
}


.page-header {
 font-family: "Times New Roman", Times, serif;
 background-color: #cd5b45;
}

.main-content {
 font-family: "Times New Roman", Times, serif;
}



.main-content {
  h2 {
   color: #ff0000;
 }
}

.header_class {
  color: red;
}

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}
