<!DOCTYPE html>

  <body>
    <section class="page-header">
	<div id="header">
 	</div>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>

        <a href="/" class="nav" style="color:#FFFFFF;">About</a> &nbsp;&nbsp;
        <a href="/publications" class="nav" style="color:#FFFFFF;">Publications</a> &nbsp;&nbsp;
        <a href="/talks" class="nav" style="color:#FFFFFF;">Talks</a> &nbsp;&nbsp;
	      <a href="/meetings" class="nav" style="color:#FFFFFF;">Conferences</a>&nbsp;&nbsp;
        <a href="/teaching" class="nav" style="color:#FFFFFF;">Teaching</a>
    </section>


	    <div class="main-content">
	    	<!--<section id="main-content">-->
			{{ content }}
			<!--</section>-->

	   <!-- <aside class="sidebar small-sidebar right-sidebar">
		    <h4> Links </h4>
		     </aside>-->


	<footer class="site-footer">
	       My <a href="http://www.bristol.ac.uk/maths/people/philipp-p-schlicht/">webpage</a> at the University of Bristol.
         </footer>
	    </div>


  </body>
</html>
